<!--
  Generated template for the AttractionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Sehenswürdigkeiten</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card (click)="newsDetails()">
        <img src="../../assets/imgs/muenster2.jpg"/>
        <button ion-button full (click)="goToMap()">Auf Karte anzeigen</button>
        <ion-card-content>
            <ion-card-title>
                Das Freiburger Münster
            </ion-card-title>
            <p>
                Das Freiburger Münster (oder Münster Unserer Lieben Frau) ist die im romanischen und größtenteils im
                gotischen Stil erbaute römisch-katholische Stadtpfarrkirche von Freiburg im Breisgau. Sie wurde von etwa
                1200 bis offiziell 1513 erbaut. Da Freiburg seit 1827 Bischofssitz ist (Erzbistum Freiburg), ist die
                Kirche heute formell eine Kathedrale, wird aber aus Tradition „Münster“ und nicht „Kathedrale“ genannt.
                Die Münstergemeinde gehört zur Seelsorgeeinheit Freiburg Mitte im Dekanat Freiburg.

                Der bekannte Kunsthistoriker Jacob Burckhardt sagte 1869 in einer Vortragsreihe über den 116 Meter hohen
                Turm im Vergleich mit Basel und Straßburg: Und Freiburg wird wohl der schönste Turm auf Erden
                bleiben.[1] Daraus entwickelte sich wohl das häufig gehörte, aber nicht ganz wörtliche Zitat vom
                „schönsten Turm der Christenheit“. Kunsthistoriker aus der ganzen Welt rühmen das Münster Unserer Lieben
                Frau zu Freiburg als ein architektonisches Meisterwerk der Gotik.
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>
