<!--
Generated template for the ShardAlertPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Abfall- & Scherbenmelder</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <br>
        <p>Ein spezielles Reinigungsteam der ASF GmbH säubert verschmutzte Straßen und Flächen, holt wilden Müll und
            entfernt Scherben auf Radwegen. Sagen Sie uns, wo es in Freiburg schmutzig ist unter Tel.76707-710, oder
            füllen Sie einfach dieses Formular aus und senden es uns Online...und der Dreck ist weg.
        </p>
        <ion-list inset>
            <ion-item>
                <ion-label><h3>Name:</h3></ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label><h3>Verschmutzungsart:</h3></ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label><h3>LAT:</h3></ion-label>
                <ion-label type="text"></ion-label>
            </ion-item>
            <ion-item>
                <ion-label><h3>LNG:</h3></ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-list inset>

    </ion-list>


    <button ion-button full (click)="sendForm()">Verschmutzung melden</button>
</ion-content>
