<!--
  Generated template for the ParkingPermitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Parkausweis</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-slides pager>

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    Einwilligungserklärung
                </ion-card-header>
                <p>
                    Für den Schutz Ihrer personenbezogenen Daten haben wir alle technischen und organisatorischen
                    Maßnahmen getroffen, um ein hohes Schutzniveau zu schaffen. Wir halten uns dabei strikt an die
                    Datenschutzgesetze und die sonstigen datenschutzrelevaten Vorschriften. Ihre Daten werden
                    ausschließlich über sichere Kommunikationswege an die zuständige Stelle übergeben.

                    Zur Bearbeitung Ihres Anliegens werden personenbezogene Daten von Ihnen erhoben wie z.B. Name,
                    Anschrift, Kontaktdaten sowie die notwendigen Angaben zur Bearbeitung. Die Verwendung oder
                    Weitergabe Ihrer Daten an unbeteiligte Dritte wird ausgeschlossen.
                </p>
                <ion-item>
                    <ion-label>Ich bin damit einverstanden</ion-label>
                    <ion-checkbox color="secondary" checked="false"></ion-checkbox>
                </ion-item>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    Benötigte Unterlagen:
                </ion-card-header>
                <ul>
                    <li>KFZ-Schein</li>
                    <li>Ggf. Halterbestätigung , wenn Sie als Antragsteller nicht gleichzeitig Fahrzeughalter sind.</li>
                    <li>Bei Umschreibung wegen Umzug von einem Bewohnerparkgebiet in ein anderes wird der alte
                        Bewohnerparkausweis benötigt.
                    </li>
                </ul>

                <p>Bitte wählen Sie die gewünschte Antragsart, indem Sie den entsprechenden Button anklicken:</p>
                <br>
                <button ion-button color="light">Neuantrag</button>
                <button ion-button color="light">Verlängerung</button>
                <button ion-button color="light">Ersatz</button>
                <button ion-button color="light">Änderung</button>
                <br>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    Voraussetzungen:
                </ion-card-header>
                <ul>
                    <li>Sie müssen in einem Bewohnerparkgebiet der Stadt Freiburg Ihre alleinige Wohnung bzw. Ihre von
                        Ihnen vorwiegend benutzte Wohnung haben und entsprechend gemeldet sein.
                    </li>
                    <li>Sie dürfen über keine Garage oder privaten Parkplatz verfügen.</li>
                    <li>Das Kraftfahrzeug, für das eine Bewohnerpark- berechtigung ausgestellt werden soll, muss auf Sie
                        zugelassen sein oder dauerhaft von Ihnen genutzt werden. Im zweiten Fall benötigen wir eine
                        Bestätigung des Halters, dass er Ihnen das Fahrzeug dauerhaft überlässt
                    </li>
                    <li>Wird eine dritte Person mit der Beantragung eines Bewohnerparkausweises beauftragt, ist eine
                        formlose Vollmacht erforderlich (bei Eheleuten ist eine Vollmacht nicht erforderlich).
                    </li>
                    <li>Verwaltungsgebühr: 30,00 Euro</li>
                </ul>
                <br>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    Angaben zur Person:
                </ion-card-header>
                <ion-list inset>
                    <ion-item>
                        <ion-label>Anrede</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Firma</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Name</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Vorname</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Geburtsdatum</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item-divider color="light">Anschrift der Hauptwohnung</ion-item-divider>
                    <ion-item>
                        <ion-label>Straße</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Hausnummer</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Zusatz</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Postleitzahl</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Wohnort</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Telefon</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item><ion-item>
                        <ion-label>E-Mail</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    Angaben zum KFZ
                </ion-card-header>
                <ion-list inset>
                    <ion-item>
                        <ion-label>Kennzeichen</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>KFZ-Typ</ion-label>
                        <ion-input type="dropdown"></ion-input>
                    </ion-item>
                </ion-list>
                <button id="sendButton" ion-button color="secondary" (click)="sendForm()">Formular absenden</button>
            </ion-card>
        </ion-slide>
    </ion-slides>

</ion-content>
