<!--
  Generated template for the ParkAreasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Parkanlagen</ion-title>
    </ion-navbar>
</ion-header>



<ion-content>
    <button ion-button block (click)="goToMap()"><ion-icon name="ios-map-outline"> </ion-icon>Auf Karte anzeigen </button>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233128/Lde/resize/alterfriedhof6.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E1867514544%2F266404%2Falterfriedhof6.jpg&w=165&h=165&i=0&m=C">
                </ion-col>
                <ion-col col-9>
                    <h2>Alter Friedhof</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/get/params_E736056137/386927/colombipark_0001.jpg">
                </ion-col>
                <ion-col col-9>
                    <h2>Colombipark</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233164/Lde/resize/GuT_Leiste_Dietenbach03.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E1225261193%2F391037%2FGuT_Leiste_Dietenbach03.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Dietenbachpark</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233156/Lde/resize/GuT_Leiste_EkzWeingarten01.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-485096711%2F391003%2FGuT_Leiste_EkzWeingarten01.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>EKZ-Weingarten</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233144/Lde/resize/GuT_Eschholzpark02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E13514474%2F390940%2FGuT_Eschholzpark02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Eschholzpark</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233192/Lde/resize/GuT_Leiste_Gruenkeil02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-448396856%2F595442%2FGuT_Leiste_Gruenkeil02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Grünkeil Rieselfeld</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233188/Lde/resize/GuT_Leiste_Hauptfriedhof02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-1685437215%2F595401%2FGuT_Leiste_Hauptfriedhof02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Hauptfriedhof</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233136/Lde/resize/japangarten11.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E1490976%2F390891%2Fjapangarten11.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Japangarten</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233160/Lde/resize/GuT_Leiste_Brandel01.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E513524299%2F391021%2FGuT_Leiste_Brandel01.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Joseph-Brandel-Anlage</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233184/Lde/resize/GuT_Leiste_KGuenther04.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-1783362524%2F391112%2FGuT_Leiste_KGuenther04.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Konrad-Guenther-Park</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233168/Lde/resize/GuT_Leiste_MitlGraben02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E152404455%2F391052%2FGuT_Leiste_MitlGraben02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Mittlerer Graben Rieselfeld</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233148/Lde/resize/GuT_Leiste_Moesle_Waldsee04.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-12297340%2F390962%2FGuT_Leiste_Moesle_Waldsee04.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Möslepark</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233176/Lde/resize/GuT_Leiste_Moosweiher02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E2087074138%2F391082%2FGuT_Leiste_Moosweiher02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Moosweiher</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233140/Lde/resize/Kanonenplatz.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E320697256%2F390915%2FKanonenplatz.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Schloßberg</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233132/Lde/resize/GUT_Seepark_Leiste1.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-20935576%2F390866%2FGUT_Seepark_Leiste1.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Seepark</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233152/Lde/resize/GuT_Leiste_Stadtgarten02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E1651690329%2F595410%2FGuT_Leiste_Stadtgarten02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Stadtgarten</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233172/Lde/resize/GuT_Leiste_Stuehlinger04.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E720506141%2F391068%2FGuT_Leiste_Stuehlinger04.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Stühlinger Kirchplatz</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="parkDetails()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://www.freiburg.de/pb/site/Freiburg/data/233180/Lde/resize/GUT_Leiste_Zaehringerpark02.jpg?f=%2Fpb%2Fsite%2FFreiburg%2Fget%2Fparams_E-806486310%2F391096%2FGUT_Leiste_Zaehringerpark02.jpg&w=165&h=600&i=0&m=F">
                </ion-col>
                <ion-col col-9>
                    <h2>Zähringer Park</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
