page-handicaped {
	ion-card{
		color: #c33;
	}
	img {
		width: 87px;
		height: 55px;
	}
	h2 {
		font-size: 20px;
		padding-left: 10px;
	}
	.col {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
