<!--
  Generated template for the HandicapedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>handicaped</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card (click)="goToMap()">
		<ion-grid>
			<ion-row >
				<ion-col col-3>
					<img src="../../assets/icon/behindertenParkplatz.png">
				</ion-col>
				<ion-col col-9>
					<h2>Parkplätze</h2>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
	<ion-card (click)="goToMap()">
		<ion-grid>
			<ion-row >
				<ion-col col-3>
					<img src="../../assets/icon/behindert.gif">
				</ion-col>
				<ion-col col-9>
					<h2>Toiletten</h2>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>
