<!--
  Generated template for the DumpcalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dumpcalendar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-calendar [(ngModel)]="date"
                (onChange)="onChange($event)"
                [options]="optionsMulti"
                [type]="type"
                [format]="'YYYY-MM-DD'">
  </ion-calendar>

</ion-content>
