<!--
  Generated template for the AdministrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Verwaltung</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>

	<ion-card (click)="goToPage('StudentPermitPage')">

		<ion-grid>
			<ion-row >
				<ion-col col-3>

					<img src="../../assets/imgs/muenster.jpg">
				</ion-col>
				<ion-col col-9 >
					<h2>Aufenthalt</h2>

				</ion-col>
			</ion-row>
		</ion-grid>	

	</ion-card>

	<ion-card (click)="goToPage('RealEstatePage')">

		<ion-grid>
			<ion-row >
				<ion-col col-3>

					<img src="../../assets/imgs/RealEstate.png">
				</ion-col>
				<ion-col col-9 >
					<h2>Mietspiegel</h2>
					<p>Bestellung des aktuellen Mietspiegels</p>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-card>

</ion-content>
