page-real-estate {
li{
    text-align: left;
  }
  p{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
  }
  ion-label{
    font-size: 14px;
  }
  button{
    width: 40%;
    color: #c33;
  }
  .swiper-pagination-bullet-active{
    background: #c33;
  }
  .slide-zoom{
    height: 100%
  }
  .card{
    height: 91%;
  }
  #sendButton{
    margin-top: 100%;
  }
}
