<!--
  Generated template for the RealEstatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Mietspiegel</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-slides pager>

		<ion-slide>
			<ion-card>
				<ion-card-header>
					Einwilligungserklärung
				</ion-card-header>
				<p>
					Für den Schutz Ihrer personenbezogenen Daten haben wir alle technischen und organisatorischen
					Maßnahmen getroffen, um ein hohes Schutzniveau zu schaffen. Wir halten uns dabei strikt an die
					Datenschutzgesetze und die sonstigen datenschutzrelevaten Vorschriften. Ihre Daten werden
					ausschließlich über sichere Kommunikationswege an die zuständige Stelle übergeben.

					Zur Bearbeitung Ihres Anliegens werden personenbezogene Daten von Ihnen erhoben wie z.B. Name,
					Anschrift, Kontaktdaten sowie die notwendigen Angaben zur Bearbeitung. Die Verwendung oder
					Weitergabe Ihrer Daten an unbeteiligte Dritte wird ausgeschlossen.
				</p>
				<ion-item>
					<ion-label>Ich bin damit einverstanden</ion-label>
					<ion-checkbox color="secondary" checked="false"></ion-checkbox>
				</ion-item>
			</ion-card>
		</ion-slide>

		<ion-slide>
			<ion-card>
				<ion-card-header>
					Erklärung
				</ion-card-header>
				<p>
					Sehr geehrte Damen und Herren,<br>
					nachfolgend können Sie den aktuellen Mietspiegel als PDF <b>ohne Rechnung</b> für 7,50 € bestellen. Im Anschluss an Ihre Bestellung erhalten Sie innerhalb weniger Minuten eine Bestellbestätigung per E-Mail zugesandt. Diese enthält den aktuellen Mietspiegel als PDF-Datei.
				</p>
				<br>
			</ion-card>
		</ion-slide>

		<ion-slide>
			<ion-card>
				<ion-card-header>
					Angaben des Zahlungspflichtigen
				</ion-card-header>
				<ion-list inset>
					<ion-item>
						<ion-label>Anrede</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Name</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Vorname</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Straße</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Hausnummer</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Zusatz</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Postleitzahl</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>Wohnort</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>E-Mail</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
				</ion-list>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card>
				<ion-card-header>
					Bestellung des aktuellen Mietspiegels
				</ion-card-header>
				<p>
					Ihre Daten werden TSL-verschlüsselt übertragen und dem Empfänger elektronisch zur Verfügung gestellt.
					Im Anschluss an das Einreichen werden Sie aufgefordert für die jeweilige Dienstleistung online zu bezahlen.
				</p>
				<button id="sendButton" ion-button color="secondary" (click)="sendForm()">Bestätigung</button>
			</ion-card>
		</ion-slide>
	</ion-slides>

</ion-content>
