<!--
  Generated template for the StudentPermitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Aufenthalt</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-card>
		<ion-card-header>
			Antrag auf Erteilung einer Aufenthaltserlaubnis/ Niederlassungserlaubnis/ Duldung
		</ion-card-header>
		<ion-card-content>
			<a href="https://www.freiburg.de/pb/site/Freiburg/get/params_E1077201864/714882/AE-Antrag%20NEU%20gesch%C3%BCtzt.pdf">Formular zum Herunterladen</a>
		</ion-card-content>

	</ion-card>

	<ion-card>
		<ion-card-header>
			Aufenthalt für eine Au-pair-Beschäftigung
		</ion-card-header>
		<ion-card-content>
			<a href="https://www.freiburg.de/pb/site/Freiburg/get/327401/Aufenthalt-f%C3%BCr-eine-Au-pair-Besch%C3%A4ftigung.pdf">Informationen zum Herunterladen</a>
		</ion-card-content>

	</ion-card>

	<ion-card>
		<ion-card-header>
			Aufenthalt von Gastwissenschaftlern
		</ion-card-header>
		<ion-card-content>
			<a href="https://www.freiburg.de/pb/site/Freiburg/get/327402/Aufenthalt-von-Gastwissenschaftlern.pdf">Informationen zum Herunterladen</a>
		</ion-card-content>
		
	</ion-card>

	<ion-card>
		<ion-card-header>
			Aufenthaltserlaubnis für Studierende
		</ion-card-header>
		<ion-card-content>
			<a href="https://www.freiburg.de/pb/site/Freiburg/get/327403/Aufenthaltserlaubnis-f%C3%BCr-Studierende.pdf">Informationen zum Herunterladen</a>
		</ion-card-content>
		
	</ion-card>

	<ion-card>
		<ion-card-header>
			Verpflichtungserklärung
		</ion-card-header>
		<ion-card-content>
			Einladung von Besuchern aus dem Ausland<br>
			<a href="http://www.freiburg.de/pb/site/Freiburg/get/327410/Erkl%C3%A4rung_Verpflichtungserkl%C3%A4rung.pdf">Formular zum Herunterladen</a>
		</ion-card-content>
		
	</ion-card>
</ion-content>
