<!--
  Generated template for the FlatSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Immobilien</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="plus"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <button ion-button block (click)="goToMap()"><ion-icon name="ios-map-outline"> </ion-icon>Auf Karte anzeigen </button>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="../../assets/imgs/wohnung1.jpg">
        </ion-col>
        <ion-col col-9>
          <h2>Schöne Wohnung</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="../../assets/imgs/wohnung2.jpeg">
        </ion-col>
        <ion-col col-9>
          <h2>Kleine Wohnung in Freiburg</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
