<!--
  Generated template for the NewsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>News</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card (click)="newsDetails()">
        <img src="https://www.welt.de/img/sport/fussball/wm-2018/mobile178099872/5661628087-ci23x11-w590/FBL-WC-2018-MATCH27-GER-SWE.jpg"/>
        <ion-card-content>
            <ion-card-title>
                Blut, Schweiß und Tränen. Und dann kam Kroos
            </ion-card-title>
            <p>
                Die historische Pleite konnte gerade noch abgewendet werden. Deutschland besiegt Schweden 2:1.
            </p>
            <p>
                Beinahe wäre Mario Gomez zum Held geworden, doch seinen gut platzierten Kopfball lenkte Schwedens
                Torwart Robin Olsen in der 89. Minute mit einer Glanzparade über das Tor, in der Nachspielzeit traf
                Julian Brandt nur den Pfosten. Doch dann kam Toni Kroos. In der 95. Minute zirkelte der
                Champions-League-Sieger einen Freistoß ins Tor und ließ Deutschland jubeln.

                So hieß es am Ende 2:1 für Deutschland gegen Schweden – obwohl der Weltmeister nach einer Gelb-Roten
                Karte für Jerome Boateng die letzten zehn Minuten in Unterzahl spielte und nun weiter auf das
                Achtelfinale hoffen kann.
            </p>
            <p>
                Vier Änderungen nahm Trainer Joachim Löw in seiner Startaufstellung vor: Antonio Rüdiger ersetzte den
                verletzten Mats Hummels, Marco Reus und Sebastian Rudy verdrängten Sami Khedira und Mesut Özil, dazu
                kehrte Jonas Hector zurück in die Mannschaft. Im Sturm begann erneut Timo Werner.

                Tore des Spiels
                Wieder leitete ein individueller Fehler das deutsche Gegentor ein. In der 32. Minute spielte Toni Kroos
                im Aufbauspiel unbedrängt einen Fehlpass zu Marcus Berg. Die Schweden konterten, eine Flanke von Emil
                Forsberg nahm Ola Toivonen hervorragend an, behauptete sich gegen Antonio Rüdiger und versenkte seinen
                Schuss im Tor.
            </p>
            <p>
                Die Halbzeit tat der deutschen Mannschaft gut. Mario Gomez kam für Julian Draxler, in der 48. Minute
                traf Marco Reus per Knie zum Ausgleich, nach einer Hereingabe von Timo Werner.

                In der 82. Minute flog Jerome Boateng mit Gelb-Rot vom Platz. Erst hatte er gut zehn Minuten zuvor einen
                Konter von Emil Forsberg per Foul gestoppt, dann ging er übermotiviert in einen Zweikampf mit Marcus
                Berg.

                Mit der letzten deutschen Offensivaktion des Spiels wurde dann Toni Kroos mit seinem Freistoßtor vom
                tragischen zum positiven Helden.

                Auswirkung des Spiels
                Deutschland und Schweden haben jetzt beide drei Punkte, Mexiko sechs. Die Szenarien sind zahlreich, am
                Ende könnten sowohl Mexiko, Schweden als auch Deutschland bei sechs Punkten stehen, dann entscheidet das
                Torverhältnis. Deutschland spielt am Mittwoch um 16 Uhr gegen Südkorea, parallel trifft Mexiko auf
                Schweden. Ein deutscher Sieg gegen Südkorea würde höchstwahrscheinlich für das Achtelfinale reichen, es
                sei denn Schweden gewinnt parallel höher.
            </p>
            <p>
                Deutsche Taktik des Spiels
                Deutschlands Offensivspiel kam in den ersten Minuten mit deutlich mehr Tempo und Spielwitz daher, als
                noch im Spiel gegen Mexiko. Die Viererreihe aus Müller, Reus, Draxler und Werner wechselte munter die
                Positionen, was sie unausrechenbarer und gefährlicher machte. In der ersten Partie klebte jeder noch
                großteils auf seinem Posten, jetzt tauchte Werner häufig rechts, Müller öfter in der Mitte und links
                auf, auch Reus und Draxler rochierten viel.

                Mit der Hereinnahme von Mario Gomez rückte Timo Werner weiter nach Außen, Gomez gab den Stoßstürmer,
                Reus und Müller machten ihre Rochaden weiter. Viele der deutschen Angriffe kamen nun über die Flügel, wo
                auch Hector und Kimmich viele Bälle in die Mitte brachten.


                Defensiv wurde von den Angriffsspielern mehr nach Hinten gearbeitet. Den ersten Vorstoß der Schweden
                stoppte beispielsweise der zurückeilende Thomas Müller. Doch schnell war es dahin mit der defensiven
                Stabilität: Wieder war Deutschland anfällig für Konter, ließ viel Platz für Gegenstöße. Nicht nur das
                Tor von Toivonen fiel so, Schweden hatte auch mehrere weitere gute Chancen im Umschaltspiel. Auch weil
                sich die Anordnung mit Ilkay Gündogan im Mittelfeld veränderte.

                Nach der Halbzeit drängte Deutschland so sehr nach Vorne, dass Antonio Rüdiger die letzte Absicherung
                darstellte: An der Mittellinie. Doch den Schweden boten sich kaum Gelegenheiten überhaupt zu kontern,
                weil Deutschland vorne ballsicherer war, seinen Gegner selten mit Fehlern beschenkte. Auch raubte das
                Verteidigen den Skandinaviern Kraft, sie spielten zunehmend lieber Sicherheitspässe anstatt schnell
                umzuschalten.
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
