<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Freiburg Connect</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="doCustomizing()">
        <ion-icon name="construct"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let page of getActivePages()" (click)="goToPage(page)">
        <ion-card>
          <ion-card-header>
            <ion-icon name="{{page.icon}}"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            {{page.title}}
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
