<!--
  Generated template for the PushnotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Benachrichtigungen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>News</ion-label>
    <ion-toggle checked="true"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Events</ion-label>
    <ion-toggle checked="false"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Verkehr</ion-label>
    <ion-toggle checked="true"></ion-toggle>
  </ion-item>
</ion-content>
