page-kita-map {
	#map {
		height: 100%;
		width:100%;
	}

	button {
		font-size: 2rem;
	}

	#navButton {
		position: absolute;
		bottom: 15px;
		right: 150px;
		width: 20%;
		ion-icon {
			color: white;
		}
	}
}
