<!--
  Generated template for the KitaMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Karte</ion-title>
  </ion-navbar>

</ion-header>




<ion-content padding>

  <div #map id="map"></div>
    <button *ngIf="markerClicked" id="navButton" (click)="startNavigating()" ion-button icon-only> <ion-icon name="navigate"></ion-icon></button>
  <ion-fab  bottom left #fab>
   <button color="light" ion-fab><ion-icon  name="add"></ion-icon></button>
   <ion-fab-list  side="right">
     <button ion-fab (click)="show('KiTa', fab)">KiTa</button>
     <button ion-fab (click)="show('Sport' ,fab)">Sport</button>
     <button ion-fab (click)="show('Spielplatz', fab)">Spielplatz</button>
     
   </ion-fab-list>
   <ion-fab-list  side="top">
     <button (click)="show('Blitzer', fab)" ion-fab>Blitzer</button>
     <button (click)="show('P&R', fab)" ion-fab>P & R</button>
     <button (click)="show('Parkhaus', fab)" ion-fab>PLS</button>
   </ion-fab-list>
 </ion-fab> 
  


</ion-content>
