<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>News</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-card (click)="newsDetails()">
        <img src="https://www.welt.de/img/sport/fussball/wm-2018/mobile178099872/5661628087-ci23x11-w590/FBL-WC-2018-MATCH27-GER-SWE.jpg"/>
        <ion-card-content>
            <ion-card-title>
                Blut, Schweiß und Tränen. Und dann kam Kroos
            </ion-card-title>
            <p>
                Die historische Pleite konnte gerade noch abgewendet werden. Deutschland besiegt Schweden 2:1.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="../../assets/imgs/startup.jpg"/>
        <ion-card-content>
            <ion-card-title>
                Die Lokalhalle ist jetzt Kreativpark
            </ion-card-title>
            <p>
                In umgebauten Überseecontainern arbeiten mehr als 100 Entrepreneure und Start-ups
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="../../assets/imgs/spinner.jpeg"/>
        <ion-card-content>
            <ion-card-title>
                Eichenprozessionsspinner in Hochdorfer Waldkindergarten ist entfernt
            </ion-card-title>
            <p>
                Das Freiburger Forstamt hat Nester des Eichenprozessionsspinners im Waldkindergarten in Hochdorf
                entfernt. Die Warnung gilt jedoch weiter. Denn die Haare der Raupen sind nach zwei Jahren noch giftig.
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>
