<!--
  Generated template for the SportclubsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sportclubs</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
<button ion-button block (click)="goToMap()"><ion-icon name="ios-map-outline"> </ion-icon>Auf Karte anzeigen </button>

<ion-content>


</ion-content>
