<!--
  Generated template for the DumpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Müll</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card (click)="goToDumpcalendar()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="https://i.ebayimg.com/images/g/OaMAAOSwWKtUtPA2/s-l225.jpg">
                </ion-col>
                <ion-col col-9>
                    <h2>Abfallkalender</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="goToShardAlert()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="../../assets/imgs/asf.jpg">
                </ion-col>
                <ion-col col-9>
                    <h2>Abfall- & Scherbenmelder</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card (click)="goToShardAlert()">
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    <img src="../../assets/imgs/sperrmuell.jpg">
                </ion-col>
                <ion-col col-9>
                    <h2>Spermüll</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
