page-parking {
  ion-grid{
    padding: 0px!important;
  }
  ion-card{
    color: #c33;
  }
  img {
    padding: 0px;
    margin-left: 15px;
    width: 45px;
    height: 45px;
  }
  #text{
    padding: 5px;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .red {
    background-color: red !important;
  }
  .orange {
    background-color: orange !important;
  }
  #trafficlight {
    padding: 0px;
    background-color: green;
  }


}
