<!--
  Generated template for the ParkDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Parkanlagen</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card (click)="newsDetails()">
        <img src="../../assets/imgs/alterfriedhof7.jpg"/>
        <button ion-button full (click)="goToMap()">Auf Karte anzeigen</button>
        <ion-card-content>
            <ion-card-title>
                Alter Friedhof
            </ion-card-title>
            <p>
                Der alte Friedhof in Freiburg-Herdern wurde nach der Stilllegung zur Parkanlage umgewidmet. Fast über
                zwei Jahrhunderte lang (1683 bis 1872) wurden hier Freiburger Bürgerinnen und Bürger beigesetzt. Er ist
                sowohl Natur- als auch Kulturdenkmal. Daß diese „Grüne Lunge“ im Mittelpunkt Freiburgs noch existiert
                und keinem „Bauboom“ zum Opfer fiel, soll damit zusammenhängen, dass der berühmte Freiburger Architekt
                und Barockkünstler Johann-Christian Wenzinger verfügte, er hinterlasse sein großes Vermögen nur dann dem
                Freiburger Stiftungsfond, wenn sein Grab „auf ewige Zeiten“ auf dem alten Friedhof gesichert sei.
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>
