<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Events</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <img src="../../assets/imgs/stadt.jpeg"/>
        <ion-card-content>
            <ion-card-title>
                Stadtführung Schätze der Altstadt
            </ion-card-title>
            <p>
                Fr. 24. Juni 09:30 Uhr
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="../../assets/imgs/sunriseAve.jpeg"/>
        <ion-card-content>
            <ion-card-title>
                Sunrise Avenue - Heartbreak Century
            </ion-card-title>
            <p>
                Fr. 29. Juni 19:30 Uhr
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="../../assets/imgs/party.jpeg"/>
        <ion-card-content>
            <ion-card-title>
                After Work Party
            </ion-card-title>
            <p>
                Fr. 29. Juni 19:30 Uhr
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>
